.mall-card {
  background: #fff;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px; }

.mall {
  width: 100%;
  height: 100%;
  font-size: 14px;
  /*swipe*/ }
  .mall .van-swipe-item img {
    width: 100%;
    height: 100%; }
  .mall .mall-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background: #F8F8F8;
    display: flex;
    border-top: 1px solid #ddd;
    text-align: center; }
    .mall .mall-footer div {
      flex: 1;
      padding: 5px 0; }
      .mall .mall-footer div > a {
        color: #938B8A;
        font-size: 12px;
        cursor: pointer;
        text-decoration: none; }
        .mall .mall-footer div > a span i {
          color: #938B8A;
          font-size: 18px;
          margin-right: 0; }
        .mall .mall-footer div > a.router-link-exact-active {
          color: #FF6161; }
          .mall .mall-footer div > a.router-link-exact-active span i {
            color: #FF6161; }
  .mall .mall-head {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 46px;
    line-height: 46px;
    background: #FF6161;
    color: #fff;
    text-align: center;
    /*span{
      width: 50px;
      display: inline-block;
    }*/ }
    .mall .mall-head .van-icon {
      font-size: 20px;
      line-height: 46px;
      color: #fff; }
    .mall .mall-head .van-nav-bar__title {
      color: #fff; }
    .mall .mall-head::after {
      display: none; }
  .mall .mall-home-head span {
    flex: 1; }
  .mall .mall-home-head .van-search {
    background: #FF6161 !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; }
    .mall .mall-home-head .van-search .van-icon {
      line-height: inherit; }
    .mall .mall-home-head .van-search .van-cell {
      padding: 2px 10px 2px 0; }
  .mall .mall-all {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #F8F8F8;
    overflow-x: hidden; }
  .mall .mall-content {
    width: 100%;
    height: calc(100% - 47px);
    /* home */
    /* shop */
    /* about */
    /* mine */ }
    .mall .mall-content .mall-home {
      width: 100%;
      height: 100%;
      background: #F8F8F8;
      overflow: auto;
      margin-top: 45px;
      /*carousel*/
      /*cricle opera block*/
      /*9.9*/
      /*activity*/
      /*promotion*/
      /*tab*/ }
      .mall .mall-content .mall-home .h-carousel {
        height: 180px;
        width: 100%;
        margin-bottom: 15px; }
        .mall .mall-content .mall-home .h-carousel .van-swipe {
          width: 100%;
          height: 100%; }
      .mall .mall-content .mall-home .h-cricle {
        display: flex;
        width: 100%;
        height: 50px;
        margin-bottom: 15px; }
        .mall .mall-content .mall-home .h-cricle div {
          flex: 1;
          text-align: center; }
          .mall .mall-content .mall-home .h-cricle div span {
            display: block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            margin: 0 auto;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.3); }
            .mall .mall-content .mall-home .h-cricle div span i {
              color: #fff;
              margin-right: 0;
              font-size: 25px; }
      .mall .mall-content .mall-home .h-tj {
        display: flex;
        width: calc(100% - 20px);
        height: 180px;
        margin: 10px auto;
        text-align: center; }
        .mall .mall-content .mall-home .h-tj .h-tj-item {
          position: relative;
          flex: 1;
          border: 1px solid #FF9800;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
          margin: 10px 10px 20px; }
          .mall .mall-content .mall-home .h-tj .h-tj-item img {
            width: 90%;
            height: 90%;
            opacity: .2;
            padding-top: 10px; }
          .mall .mall-content .mall-home .h-tj .h-tj-item .h-tj-item-title {
            position: absolute;
            top: 30px;
            left: calc(50% - 66px);
            width: 132px;
            color: #7264CC; }
            .mall .mall-content .mall-home .h-tj .h-tj-item .h-tj-item-title h4 {
              font-size: 26px;
              font-weight: bold;
              margin-top: 0; }
            .mall .mall-content .mall-home .h-tj .h-tj-item .h-tj-item-title p {
              font-weight: bold; }
          .mall .mall-content .mall-home .h-tj .h-tj-item .h-tj-item-title2 {
            color: #FF6161; }
          .mall .mall-content .mall-home .h-tj .h-tj-item .van-tag {
            position: absolute;
            left: calc(50% - 38px);
            bottom: -15px;
            width: 60px;
            padding: 6px 8px;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px; }
      .mall .mall-content .mall-home .h-hd {
        width: calc(100% - 30px);
        height: 40px;
        margin: 10px auto;
        padding-left: 10px; }
        .mall .mall-content .mall-home .h-hd .h-hd-title {
          float: left;
          line-height: 40px;
          color: #FF9800;
          width: 40px;
          font-size: 17px; }
        .mall .mall-content .mall-home .h-hd .van-notice-bar {
          background: #fff;
          color: #101010;
          padding: 0;
          height: 30px;
          padding-top: 7px; }
      .mall .mall-content .mall-home .h-cx {
        width: calc(100% - 20px);
        height: auto;
        margin: 0 auto;
        text-align: left;
        overflow: hidden; }
        .mall .mall-content .mall-home .h-cx .h-cx-title {
          width: 3em;
          line-height: 30px;
          clear: both;
          text-align: left;
          color: #FF9800; }
        .mall .mall-content .mall-home .h-cx .h-cx-l {
          width: calc(54% - 22px);
          float: left;
          margin: 10px 0 10px 10px;
          border-right: 1px solid #ddd; }
          .mall .mall-content .mall-home .h-cx .h-cx-l .van-tag {
            padding: 1px 3px;
            font-size: 12px; }
        .mall .mall-content .mall-home .h-cx .h-cx-r {
          width: 46%;
          float: right;
          padding: 10px 0 10px 10px; }
          .mall .mall-content .mall-home .h-cx .h-cx-r .h-cx-r-item {
            clear: both; }
        .mall .mall-content .mall-home .h-cx .h-cx-l div, .mall .mall-content .mall-home .h-cx .h-cx-r .h-cx-r-item div {
          width: 100%;
          clear: both; }
          .mall .mall-content .mall-home .h-cx .h-cx-l div p, .mall .mall-content .mall-home .h-cx .h-cx-r .h-cx-r-item div p {
            display: inline-block;
            position: relative;
            width: calc(50% - 10px);
            height: 0;
            padding-top: calc(50% - 10px);
            margin-bottom: 10px;
            margin-right: 10px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px; }
          .mall .mall-content .mall-home .h-cx .h-cx-l div img, .mall .mall-content .mall-home .h-cx .h-cx-r .h-cx-r-item div img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px; }
        .mall .mall-content .mall-home .h-cx .h-cx-r .h-cx-r-item div p {
          margin-bottom: 0; }
      .mall .mall-content .mall-home .h-tab {
        width: calc(100% - 20px);
        margin: 15px auto 0; }
        .mall .mall-content .mall-home .h-tab .h-tab-all {
          width: 100%;
          margin: 0 auto;
          min-height: 100px; }
          .mall .mall-content .mall-home .h-tab .h-tab-all .van-tabs {
            box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px; }
            .mall .mall-content .mall-home .h-tab .h-tab-all .van-tabs .van-tabs__line {
              background: #FF6161;
              border-radius: 5px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              -ms-border-radius: 5px;
              -o-border-radius: 5px; }
            .mall .mall-content .mall-home .h-tab .h-tab-all .van-tabs .van-tabs__wrap {
              box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }
          .mall .mall-content .mall-home .h-tab .h-tab-all .h-tab-item-all {
            width: 100%;
            column-gap: 10px;
            column-count: 2;
            margin: 7px auto; }
            .mall .mall-content .mall-home .h-tab .h-tab-all .h-tab-item-all .h-tab-item {
              padding: 10px;
              margin-bottom: 10px;
              break-inside: avoid;
              text-align: left; }
              .mall .mall-content .mall-home .h-tab .h-tab-all .h-tab-item-all .h-tab-item img {
                width: 100%;
                height: auto; }
              .mall .mall-content .mall-home .h-tab .h-tab-all .h-tab-item-all .h-tab-item .h-tab-item-name {
                margin: 10px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-size: 14px; }
              .mall .mall-content .mall-home .h-tab .h-tab-all .h-tab-item-all .h-tab-item .h-tab-item-price {
                color: #FF6161;
                font-weight: bold;
                margin-right: 10px;
                font-size: 14px; }
              .mall .mall-content .mall-home .h-tab .h-tab-all .h-tab-item-all .h-tab-item .h-tab-item-payment {
                color: #938B8A;
                font-size: 12px; }
              .mall .mall-content .mall-home .h-tab .h-tab-all .h-tab-item-all .h-tab-item .h-tab-item-more {
                float: right;
                color: #938B8A;
                padding-top: 3px; }
    .mall .mall-content .mall-detail .mall-head {
      background: rgba(0, 0, 0, 0.3); }
    .mall .mall-content .mall-detail .d-carousel {
      width: 100%;
      height: 220px; }
      .mall .mall-content .mall-detail .d-carousel .van-swipe {
        width: 100%;
        height: 100%; }
    .mall .mall-content .mall-detail .d-intro {
      width: calc(100% - 20px);
      background: #fff;
      overflow: hidden;
      margin: 0 0 10px;
      padding: 10px; }
      .mall .mall-content .mall-detail .d-intro h3 {
        margin-top: 0;
        margin-bottom: 5px; }
        .mall .mall-content .mall-detail .d-intro h3 span {
          color: #FF6161; }
        .mall .mall-content .mall-detail .d-intro h3 .van-tag {
          margin-left: 10px; }
      .mall .mall-content .mall-detail .d-intro p {
        width: calc(100% - 20px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; }
      .mall .mall-content .mall-detail .d-intro div {
        width: calc(100% - 20px);
        margin-top: 10px;
        color: #aaa; }
        .mall .mall-content .mall-detail .d-intro div span {
          float: left; }
          .mall .mall-content .mall-detail .d-intro div span i {
            color: #938B8A; }
          .mall .mall-content .mall-detail .d-intro div span:last-child {
            float: right; }
    .mall .mall-content .mall-detail .d-discount {
      width: calc(100% - 20px);
      background: #fff;
      overflow: hidden;
      margin: 0 0 10px;
      padding: 10px; }
      .mall .mall-content .mall-detail .d-discount > div {
        width: 100%;
        min-height: 35px; }
        .mall .mall-content .mall-detail .d-discount > div > div {
          display: inline-block;
          width: calc(100% - 3em - 30px);
          vertical-align: text-top; }
          .mall .mall-content .mall-detail .d-discount > div > div p {
            color: #938B8A;
            font-size: 14px; }
            .mall .mall-content .mall-detail .d-discount > div > div p:last-child {
              margin-top: 5px; }
            .mall .mall-content .mall-detail .d-discount > div > div p .van-tag {
              margin-right: 10px; }
            .mall .mall-content .mall-detail .d-discount > div > div p .van-tab-d {
              background-color: #fff !important;
              border: 1px solid #FF6161;
              color: #FF6161; }
      .mall .mall-content .mall-detail .d-discount .fr {
        color: #938B8A; }
      .mall .mall-content .mall-detail .d-discount .block {
        width: 3em;
        display: inline-block; }
      .mall .mall-content .mall-detail .d-discount span i {
        color: #aaa; }
      .mall .mall-content .mall-detail .d-discount .d-discount-kd {
        line-height: 35px; }
      .mall .mall-content .mall-detail .d-discount .d-discount-yh {
        padding-top: 10px;
        border-top: 1px solid #f5f5f5; }
      .mall .mall-content .mall-detail .d-discount .d-discount-fw {
        line-height: 35px; }
      .mall .mall-content .mall-detail .d-discount .d-discount-cp {
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        padding: 10px 0; }
        .mall .mall-content .mall-detail .d-discount .d-discount-cp div p {
          overflow: hidden; }
          .mall .mall-content .mall-detail .d-discount .d-discount-cp div p img {
            width: 40px;
            height: 40px;
            float: left;
            margin-right: 10px;
            vertical-align: middle; }
          .mall .mall-content .mall-detail .d-discount .d-discount-cp div p:last-child {
            margin-top: 8px; }
      .mall .mall-content .mall-detail .d-discount .d-discount-cs {
        clear: both;
        line-height: 35px; }
    .mall .mall-content .mall-detail .d-seller {
      width: calc(100% - 20px);
      background: #fff;
      overflow: hidden;
      margin: 0 0 10px;
      padding: 10px; }
      .mall .mall-content .mall-detail .d-seller > p {
        display: flex; }
        .mall .mall-content .mall-detail .d-seller > p span {
          flex: 1;
          font-size: 13px;
          text-align: center; }
          .mall .mall-content .mall-detail .d-seller > p span em {
            color: #FF9800;
            font-style: normal; }
      .mall .mall-content .mall-detail .d-seller > div {
        overflow: hidden;
        margin-bottom: 10px; }
        .mall .mall-content .mall-detail .d-seller > div img {
          width: 40px;
          height: 40px;
          vertical-align: text-top;
          margin-right: 10px; }
        .mall .mall-content .mall-detail .d-seller > div > div {
          display: inline-block; }
        .mall .mall-content .mall-detail .d-seller > div .van-button--default {
          float: right;
          width: 60px;
          height: 28px;
          line-height: 26px;
          background: #FF6161;
          color: #fff;
          padding: 0;
          margin-top: 5px;
          border-radius: 18px; }
    .mall .mall-content .mall-detail .d-comment {
      width: calc(100% - 20px);
      background: #fff;
      overflow: hidden;
      padding: 10px; }
      .mall .mall-content .mall-detail .d-comment .d-comment-con {
        padding: 10px 0; }
        .mall .mall-content .mall-detail .d-comment .d-comment-con .d-c-con-wd {
          overflow: hidden; }
          .mall .mall-content .mall-detail .d-comment .d-comment-con .d-c-con-wd > div {
            clear: both; }
            .mall .mall-content .mall-detail .d-comment .d-comment-con .d-c-con-wd > div p {
              height: 30px;
              line-height: 30px;
              clear: both; }
              .mall .mall-content .mall-detail .d-comment .d-comment-con .d-c-con-wd > div p .w {
                display: inline-block;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                background: #FF6161;
                color: #fff;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                margin-right: 8px; }
              .mall .mall-content .mall-detail .d-comment .d-comment-con .d-c-con-wd > div p .fr {
                font-size: 12px;
                color: #aaa; }
          .mall .mall-content .mall-detail .d-comment .d-comment-con .d-c-con-wd i {
            color: #aaa;
            font-size: 12px; }
        .mall .mall-content .mall-detail .d-comment .d-comment-con .d-c-con-pl {
          clear: both;
          padding-top: 10px;
          margin-top: 10px;
          border-top: 1px solid #f5f5f5; }
          .mall .mall-content .mall-detail .d-comment .d-comment-con .d-c-con-pl i {
            color: #aaa;
            font-size: 12px; }
          .mall .mall-content .mall-detail .d-comment .d-comment-con .d-c-con-pl ul li {
            margin-bottom: 15px; }
            .mall .mall-content .mall-detail .d-comment .d-comment-con .d-c-con-pl ul li div img {
              width: 30px;
              height: 30px;
              vertical-align: middle;
              margin-right: 10px;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%; }
            .mall .mall-content .mall-detail .d-comment .d-comment-con .d-c-con-pl ul li p {
              margin-top: 5px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding-left: 8px; }
    .mall .mall-content .mall-classify {
      width: 100%;
      height: calc(100% - 45px);
      padding: 45px 0; }
      .mall .mall-content .mall-classify .mall-classify-con {
        display: flex;
        display: -webkit-flex;
        align-items: stretch;
        width: 100%;
        height: 100%; }
        .mall .mall-content .mall-classify .mall-classify-con > div {
          -webkit-flex-grow: 0;
          -webkit-flex-shrink: 0;
          -webkit-flex-basis: 60px;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 60px; }
          .mall .mall-content .mall-classify .mall-classify-con > div:nth-of-type(2) {
            -webkit-flex-basis: calc(100% - 60px);
            flex-basis: calc(100% - 60px); }
        .mall .mall-content .mall-classify .mall-classify-con .mall-classify-con-l {
          height: 100%;
          overflow-x: hidden;
          background: #fff;
          border-right: 1px solid #ddd; }
          .mall .mall-content .mall-classify .mall-classify-con .mall-classify-con-l ul li {
            position: relative;
            line-height: 35px;
            text-align: left;
            margin: 10px 0;
            padding: 0 10px;
            font-size: 14px;
            transition: all 2s ease; }
            .mall .mall-content .mall-classify .mall-classify-con .mall-classify-con-l ul li.active {
              background: #f7a0a080;
              color: #FF6161; }
              .mall .mall-content .mall-classify .mall-classify-con .mall-classify-con-l ul li.active .item-bar {
                position: absolute;
                top: 0;
                right: -1px;
                width: 3px;
                height: 35px;
                background: #FF6161;
                z-index: 1; }
        .mall .mall-content .mall-classify .mall-classify-con .mall-classify-con-r {
          height: 100%;
          overflow-x: hidden; }
          .mall .mall-content .mall-classify .mall-classify-con .mall-classify-con-r .mall-classify-con-item {
            padding: 0 10px;
            margin-bottom: 10px; }
            .mall .mall-content .mall-classify .mall-classify-con .mall-classify-con-r .mall-classify-con-item h3 {
              line-height: 30px;
              text-align: left;
              margin: 0;
              padding-top: 10px;
              font-weight: normal; }
            .mall .mall-content .mall-classify .mall-classify-con .mall-classify-con-r .mall-classify-con-item ul {
              display: -webkit-flex;
              -webkit-flex-wrap: wrap;
              display: flex;
              flex-wrap: wrap;
              background: #fff;
              border-radius: 4px;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              -ms-border-radius: 4px;
              -o-border-radius: 4px;
              padding: 10px 0 0 10px;
              border: 1px solid #ddd; }
              .mall .mall-content .mall-classify .mall-classify-con .mall-classify-con-r .mall-classify-con-item ul li {
                width: calc(25% - 10px);
                margin-bottom: 10px;
                padding-right: 10px; }
                .mall .mall-content .mall-classify .mall-classify-con .mall-classify-con-r .mall-classify-con-item ul li div {
                  display: inline-block;
                  position: relative;
                  width: 100%;
                  height: 0;
                  padding-top: 100%;
                  border-radius: 4px;
                  -webkit-border-radius: 4px;
                  -moz-border-radius: 4px;
                  -ms-border-radius: 4px;
                  -o-border-radius: 4px; }
                  .mall .mall-content .mall-classify .mall-classify-con .mall-classify-con-r .mall-classify-con-item ul li div img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px; }
                .mall .mall-content .mall-classify .mall-classify-con .mall-classify-con-r .mall-classify-con-item ul li p {
                  text-align: center; }
    .mall .mall-content .mall-about {
      width: 100%;
      height: 100%; }
    .mall .mall-content .mall-mine {
      width: 100%;
      height: 100%;
      /*detail*/
      /*order*/
      /*opera*/
      /*list*/ }
      .mall .mall-content .mall-mine .mi-detail {
        width: 100%;
        height: 120px;
        background: #FF6161;
        color: #fff;
        margin-top: 46px;
        padding-top: 30px;
        position: relative;
        z-index: 99; }
        .mall .mall-content .mall-mine .mi-detail .mi-detail-l {
          position: relative;
          float: left;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          padding-left: 20px;
          text-align: center; }
          .mall .mall-content .mall-mine .mi-detail .mi-detail-l img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%; }
          .mall .mall-content .mall-mine .mi-detail .mi-detail-l .van-tag {
            position: absolute;
            bottom: -8px;
            left: 50%;
            width: 38px;
            margin-left: -17px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px; }
        .mall .mall-content .mall-mine .mi-detail .mi-detail-c {
          float: left;
          width: calc(100% - 150px);
          text-align: left;
          padding-left: 20px; }
          .mall .mall-content .mall-mine .mi-detail .mi-detail-c h3 {
            margin: 10px 0 5px; }
          .mall .mall-content .mall-mine .mi-detail .mi-detail-c p {
            font-size: 14px; }
        .mall .mall-content .mall-mine .mi-detail .mi-detail-qd {
          position: absolute;
          right: 0;
          bottom: 50px;
          border-radius: 10px 0 0 10px;
          -webkit-border-radius: 10px 0 0 10px;
          -moz-border-radius: 10px 0 0 10px;
          -ms-border-radius: 10px 0 0 10px;
          -o-border-radius: 10px 0 0 10px;
          padding: 5px 10px; }
      .mall .mall-content .mall-mine .mi-order {
        position: relative;
        width: calc(100% - 20px);
        height: 170px;
        margin: -25px auto 0;
        z-index: 100;
        font-size: 14px; }
        .mall .mall-content .mall-mine .mi-order .mi-order-t {
          display: flex;
          padding-top: 10px; }
          .mall .mall-content .mall-mine .mi-order .mi-order-t > div {
            flex: 1;
            text-align: center; }
            .mall .mall-content .mall-mine .mi-order .mi-order-t > div p {
              margin-bottom: 7px; }
              .mall .mall-content .mall-mine .mi-order .mi-order-t > div p i {
                font-size: 23px;
                color: #FF6161;
                margin-right: 0; }
        .mall .mall-content .mall-mine .mi-order .mi-order-msg {
          width: calc(100% - 16px);
          height: 80px;
          background: #F1F3F4;
          margin: 10px auto 0;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          text-align: left; }
          .mall .mall-content .mall-mine .mi-order .mi-order-msg > p {
            padding: 10px; }
            .mall .mall-content .mall-mine .mi-order .mi-order-msg > p span {
              font-size: 12px; }
          .mall .mall-content .mall-mine .mi-order .mi-order-msg img {
            float: left;
            width: 35px;
            height: 35px;
            text-align: left;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            margin: 0 10px; }
          .mall .mall-content .mall-mine .mi-order .mi-order-msg .mi-order-msg-img {
            float: left;
            font-size: 12px; }
            .mall .mall-content .mall-mine .mi-order .mi-order-msg .mi-order-msg-img p {
              margin-bottom: 4px; }
      .mall .mall-content .mall-mine .mi-opera {
        width: calc(100% - 20px);
        margin: 10px auto;
        height: 100px;
        /*collect*/
        /*integral*/ }
        .mall .mall-content .mall-mine .mi-opera .mall-card {
          width: calc(50% - 6px);
          height: 100%;
          float: left;
          color: #fff; }
        .mall .mall-content .mall-mine .mi-opera .mi-opera-collect {
          margin-right: 6px;
          background: #D8BDF2;
          text-align: center; }
          .mall .mall-content .mall-mine .mi-opera .mi-opera-collect > div {
            width: 50%;
            float: left; }
            .mall .mall-content .mall-mine .mi-opera .mi-opera-collect > div p {
              padding-top: 20px;
              line-height: 25px;
              font-size: 13px; }
              .mall .mall-content .mall-mine .mi-opera .mi-opera-collect > div p .van-icon {
                font-size: 30px; }
              .mall .mall-content .mall-mine .mi-opera .mi-opera-collect > div p:last-child {
                padding-top: 5px; }
        .mall .mall-content .mall-mine .mi-opera .mi-opera-integral {
          margin-left: 6px;
          background: #F7A0A0;
          text-align: center; }
          .mall .mall-content .mall-mine .mi-opera .mi-opera-integral p {
            padding-top: 15px;
            line-height: 25px; }
      .mall .mall-content .mall-mine .mi-list {
        width: calc(100% - 20px);
        text-align: left;
        margin: 0 auto 10px;
        font-size: 14px; }
        .mall .mall-content .mall-mine .mi-list .mi-list-item {
          width: calc(100% - 10px);
          height: 40px;
          line-height: 40px;
          clear: both;
          border-bottom: 1px solid #ddd;
          margin: 0 5px; }
          .mall .mall-content .mall-mine .mi-list .mi-list-item .mi-list-item-l {
            float: left; }
            .mall .mall-content .mall-mine .mi-list .mi-list-item .mi-list-item-l i {
              color: #8BC34A; }
          .mall .mall-content .mall-mine .mi-list .mi-list-item .mi-list-item-r {
            float: right;
            width: auto;
            max-width: 50%;
            color: #938B8A; }
            .mall .mall-content .mall-mine .mi-list .mi-list-item .mi-list-item-r .mi-list-item-r-shief {
              color: #938B8A; }
            .mall .mall-content .mall-mine .mi-list .mi-list-item .mi-list-item-r .van-icon {
              font-size: 16px; }
    .mall .mall-content .mall-integral {
      width: 100%; }
      .mall .mall-content .mall-integral .mall-integral-con {
        width: 100%;
        overflow: hidden;
        margin-top: 55px; }
        .mall .mall-content .mall-integral .mall-integral-con .integral-item {
          width: calc(50% - 35px);
          float: left;
          padding: 10px;
          margin: 0 10px 10px;
          text-align: center; }
          .mall .mall-content .mall-integral .mall-integral-con .integral-item:nth-child(2n) {
            margin: 0 10px 10px 0; }
          .mall .mall-content .mall-integral .mall-integral-con .integral-item > div {
            background: #F7A0A0;
            color: #fff;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px; }
          .mall .mall-content .mall-integral .mall-integral-con .integral-item .van-tag {
            padding: 3px 20px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px; }
          .mall .mall-content .mall-integral .mall-integral-con .integral-item p {
            margin-bottom: 5px; }
    .mall .mall-content .mall-address {
      padding-top: 45px; }
      .mall .mall-content .mall-address .mall-address-con .van-address-edit .van-cell__title van-field__label {
        text-align: left; }
      .mall .mall-content .mall-address .mall-address-con .van-address-edit .van-address-edit__buttons {
        padding-bottom: 0; }
        .mall .mall-content .mall-address .mall-address-con .van-address-edit .van-address-edit__buttons .van-button--danger {
          background: #FF6161; }
        .mall .mall-content .mall-address .mall-address-con .van-address-edit .van-address-edit__buttons .van-button--default {
          border-color: #FF6161;
          color: #FF6161; }

/*# sourceMappingURL=app.css.map */
