//com
$bgColor:#fff;
$bgColor2:#F8F8F8;
$bgcolor3:#F1F3F4;
$borderColor:#ddd;

$themColor: #FF6161;
$themColor2: #F7A0A0;
$themColor3: #D8BDF2;
$themColor4: #BCE2EF;

$themColor_01: #FFECEC;
$themColor_02: #FF9800;
$themColor_03: #7264CC;

$fontColor:#111;
$fontColor2:#fff;
$fontColor3:#938B8A;

$fontSize2:12px;
$fontSize:14px;
$fontSize8:18px;
$fontSize20:20px;

@mixin border-radius($radius:2px){
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin mall-all{
  width: 100%;
  height: 100%;
  background: $bgColor2;
  overflow: auto;
  margin-top: 45px;
}

@mixin text-overflow(){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-overflow2($num:2){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}

.mall-card{
  background: $bgColor;
  //box-shadow: 1px 1px 6px rgba(0,0,0,.3);
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);
  @include border-radius(3px);
}

//mall
.mall{
  width: 100%;
  height: 100%;

  //footer
  .mall-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background: $bgColor2;
    display: flex;
    border-top: 1px solid $borderColor;
    z-index: 999;
    div{
      flex: 1;
      padding: 5px 0;
      a{
        color: $fontColor3;
        font-size: $fontSize2;
        cursor: pointer;
        text-decoration: none;
        span{
          i{
            color: $fontColor3;
            font-size: $fontSize8;
          }
        }
        &.router-link-exact-active{
          color: $themColor;
          span{
            i{
              color: $themColor;
            }
          }
        }
      }
    }
  }

  .mall-head{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 46px;
    line-height: 46px;
    background: $themColor;
    color: $fontColor2;
    z-index: 999;
    span{
      flex: 1;
    }
    .van-icon{
      font-size: $fontSize20;
      line-height: 46px;
    }
    .van-search{
      background: $themColor !important;
      @include border-radius(10px);
      .van-icon{
        line-height: inherit;
        font-size: $fontSize8;
      }
      .van-cell{
        padding: 2px 10px 2px 0;
      }
    }
  }

  .mall-head2 {
    display: block;
    text-align: left;
    span {
      width:50px;
      text-align: center;
      display: inline-block;
      height: 46px;
    }
    .mall-head-title{
      width: calc(100% - 100px);
      vertical-align: 5px;
    }
  }

  //content
  .mall-content{
    width: 100%;
    height: calc(100% - 47px);

    //home
    .mall-home{
      @include mall-all;

      /*carousel*/
      .h-carousel{
        width: calc(100% - 20px);
        height: 150px;
        margin: 15px auto;
        .van-swipe{
          width: 100%;
          height: 100%;
        }
        img{
          width: 100%;
          height: 100%;
        }
      }

      /*cricle opera block*/
      .h-cricle{
        display: flex;
        width: 100%;
        height: 50px;
        div{
          flex: 1;
          text-align: center;
          span{
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin: 0 auto;
            @include border-radius(50%);
            i{
              color: $fontColor2;
            }
          }
        }
      }

      /*9.9*/
      .h-tj{
        display: flex;
        width: calc(100% - 20px);
        height: 220px;
        margin: 10px auto;
        .h-tj-item{
          position: relative;
          flex: 1;
          border:1px solid $themColor_02;
          @include border-radius(3px);
          margin: 20px 10px;
          img{
            width: 90%;
            height: 90%;
            opacity: .2;
            padding-top: 10px;
          }
          .h-tj-item-title{
            position: absolute;
            top: 30px;
            left: calc(50% - 66px);
            width: 132px;
            color: $themColor_03;
            h4{
              font-size: 26px;
              font-weight: bold;
              margin-top: 0;
            }
            p{
              font-weight: bold;
            }
          }
          .h-tj-item-title2{
            color: $themColor;
          }
          .van-tag{
            position: absolute;
            left: calc(50% - 38px);
            bottom: -15px;
            width: 60px;
            padding: 6px 8px;
            @include border-radius(25px);
          }
        }
      }

      /*activity*/
      .h-hd{
        width: calc(100% - 30px);
        height: 40px;
        margin: 10px auto;
        padding: 0 10px 0 0;
        .h-hd-title{
          float: left;
          line-height: 40px;
          color: $themColor_02;
          width: 3em;
        }
        .van-notice-bar{
          background: $bgColor;
          color: $fontColor;
          padding: 0;
        }
      }

      /*promotion*/
      .h-cx{
        width: calc(100% - 20px);
        height: 260px;
        margin: 0 auto;
        text-align: left;
        .h-cx-title{
          width: 3em;
          line-height: 40px;
          clear: both;
          text-align: left;
          color: $themColor_02;
        }
        .h-cx-l{
          width: calc(56% - 22px);
          float: left;
          margin: 10px 0 10px 10px;
          border-right: 1px solid $borderColor;
          .van-tag{
            padding: 3px;
          }
        }
        .h-cx-r{
          width: 44%;
          float: right;
          padding: 10px 0 10px 10px;
          .h-cx-r-item{
            clear: both;
          }
        }
        .h-cx-l, .h-cx-r .h-cx-r-item{
          div {
            clear: both;
            img {
              clear: both;
              width:  calc(50% - 10px);;
              height: auto;
              margin-bottom: 10px;
              margin-right: 10px;
              @include border-radius(5px);
            }
          }
        }
      }

      /*tab*/
      .h-tab{
        margin-top: 15px;
        .h-tab-all{
          width: 100%;
          margin: 0 auto;
          min-height: 100px;
          //background: $bgColor;
          .van-tabs{
            .van-tabs__line{
              background: $themColor;
              @include border-radius(5px);
            }
          }

          .h-tab-item-all{
            width: calc(100% - 20px);
            column-gap:10px;
            column-count: 2;
            margin: 15px auto;
            .h-tab-item{
              padding: 10px;
              margin-bottom: 10px;
              break-inside: avoid;
              text-align: left;
              img{
                width: 100%;
                height: auto;
              }
              .h-tab-item-name{
                margin: 10px 0;
                @include text-overflow2;
                font-size: $fontSize;
              }
              .h-tab-item-price{
                color: $themColor;
                font-weight: bold;
                margin-right: 10px;
                font-size: $fontSize;
              }
              .h-tab-item-payment{
                color: $fontColor3;
                font-size: $fontSize2;
              }
              .h-tab-item-more{
                float: right;
                color: $fontColor3;
                padding-top: 3px;
              }
            }
          }
        }
      }
    }

    //detail
    .mall-detail{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: $bgColor2;
      z-index: 1000;
      .mall-head{
        background: rgba(0,0,0,.3);
      }
      .d-carousel{
        width: 100%;
        height: 220px;
        .van-swipe{
          width: 100%;
          height: 100%;
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
      .d-choose{
        text-align: left;
      }

      .d-con-item{
        margin-top: 15px;
        width: calc(100% - 20px);
        background: $bgColor;
        text-align: left;
        padding: 10px;
      }

      .d-con-msg{
        .d-con-msg-name{
          font-size: $fontSize;
          margin: 7px 0;
        }
        .d-con-msg-zan{
          font-size: $fontSize;
          float: left;
          color: $fontColor3;
          .van-icon{
            font-size: $fontSize8;
            vertical-align: sub;
            margin-right: 3px;
          }
        }
        .d-con-msg-look{
          font-size: $fontSize;
          float: right;
          color: $fontColor3;
        }
      }
    }

    //shop
    .mall-shop{}

    //about
    .mall-about{}

    //mine
    .mall-mine{}
  }
}