#app {
  //font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-family: '幼圆';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
body,html{
  width: 100%;
  height: 100%;
}

body{
  background: #F8F8F8;
}

body,p{
  margin: 0;
  padding: 0;
}

[class^=icon-] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 4px;
}


/*vant*/
.van-icon{
  margin-right: 4px;
  font-size: 18px;
  vertical-align: sub;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.clear{
  clear: both;
}

/* scroll */
::-webkit-scrollbar-track-piece {
  background-color:#f8f8f8;
}
::-webkit-scrollbar {
  width:7px;
  height:7px;
}
::-webkit-scrollbar-thumb {
  background-color:#dddddd;
  background-clip:padding-box;
  min-height:25px;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#bbb;
}
